extend layout
block content
  p
    | Justin Bieber is a Canadian singer, actor and songwriter. 
    | After a talent manager discovered him through his YouTube videos covering songs in 2008 and he signed to RBMG
    | Bieber released his debut EP, My World, in late 2009. It was certified platinum in the U.S.
    | He became the first artist to have seven songs from a debut record chart on the Billboard Hot 100.
    | Bieber's father, Jeremy Bieber, is a former carpenter and pro-am mixed martial artist. 
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
