body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: linear-gradient(black, white);
  background-size: auto;
  background-repeat: no-repeat;

//a
//  color: #00B7FF
//h1 
//  background-color: grey;
//p
//  background-color: white;
